body{
    /* border: 3px solid blue; */
    padding: 18px;
}
.Container{
    /* border: 3px solid rgb(0, 255, 64); */
    display: flex;
    position: relative;
}
.items{
    margin-left: 12px;
    /* border: 3px solid red; */
}
section{
    background-color: #403c3c;
    border-radius: 12px;
    overflow: auto;
    max-height: 52vh;
    width: 50%;   

}
.ButtonDelete{
    position: absolute;
    width: 24px;
    right: 0;
    top: -8px;
}
li{
    background-color: #484444;
    margin: 12px 8px 12px 8px ;
    padding: 16px;
    border-radius: 18px;
    list-style: none;
    position: relative;
}
.tituloTask{
    font-weight: 600;
}

span{
    text-align: right;
}
/* background-color: #403c3c; */
.contador{
    background-color: #403c3c;
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}
.newTask{
    background-color: #403c3c;
    border-radius: 12px;
    margin-top: 12px;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    border-radius: 10px;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    background-color: #484444;
    display: block;
}
.button[type="submit"]{
  background: #ffffff;
  color: black;
  border-radius: 5px;
  border: 1px solid white;
  padding: 8px 16px;
  margin: 12px 8px 12px 8px;
}
::-webkit-scrollbar{
    width: 0.2px;
}

