.Rodape{
    position: fixed;
    left: 0;
    bottom: 0;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
.link{
    background: #ffffff;
    color: black;
    border-radius: 5px;
    border: 1px solid white;
    text-decoration: none;
    padding: 8px;
    margin: 5px;
    transition: 0.5s ease;
    border: none;
    bottom: 0;
    position: absolute;
}

.button:hover{
    background-color: rgb(194, 194, 194);
}