@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background-color: #333333;
    color: #ffffff;
    font-family: 'Poppins';
    
    position: relative;


}

.Conteudo{
    padding: 20px;
    width: 60%;
    position: relative;
    left: 500px;
    top:50px;
}

@media (max-width:768px){
    .Conteudo{
        width: 90%;
        top: 0;
        left: 0;
    }
}

.ListTodo{
    background-color: #403c3c ;
    border-radius: 10px;
    margin-right: 30px;
    overflow: auto;
    max-height: 441px;
    width: 70%;

}

/* Para telas menores */
@media (max-width: 768px) { 
    .central {
      flex-direction: column;
    }
    .ListTodo{
        margin-bottom: 16px;
        max-height:300px ;
        width: 100%;
    }

}


li{
    background-color: #484444;
    list-style: none;
    margin-bottom: 8px;
    margin-right: 12px;
    margin-left: 16px;
    margin-top: 8px;
    padding: 16px;
    border-radius: 10px;
    position: relative;
}

ul{
    overflow:auto;
    padding: 0;
}

.contador{
    font-weight: 600;
    font-size: 30px;
}

.aside{
    background-color: #403c3c;
    border-radius: 10px;
    width: auto;
    padding-top: 16px;
    margin-top: 8px;

}

.section{
    background-Color: #403c3c;
    border-radius: 10px;
    
    padding: 8px;
    height: 12vh;
    white-space: nowrap;
    text-align: center;
    
    
}


input {
    border-radius: 10px;
    border: none;
    padding: 10px 16px;
    margin-bottom: 15px;
    font-size: 14px;
    background-color: #484444;


}

label {
    color: white;
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    display: block;
    line-height: 0.5;


}

button[type="submit"],
input[type="submit"] {
  background: #ffffff;
  color: black;
  border-radius: 5px;
  border: 1px solid white;
  padding: 8px 16px;
  font-size: 13px;
  width: 85%;
  padding: 10px;
  margin-left: 16px;
  margin-bottom: 30px;
}

.form{
    
    align-items: center;
    
}


.TaskForm{
    width: 100%;
    margin-left: 16px;

}

@media (max-width: 768px) {
    .button{
        margin-bottom: 16px;
    }
    
}

.TaskForm input {
    display: block;
    width: 70%;
    margin-top: 8px;    
}


.ButtonDelete{
    position: absolute;
    top: 0;
    right: 0;
    background-image: none;
    background: none;
    border: none;
    width: 30px; 

}

footer{
    background-color: #333;
    color: #fff;
    position: relative;
    bottom: 0; 
    top:350px;
    width: 100%;
    
}

@media (max-width:768px){
    .footer{
        position: fixed;
    }
}

